/* Barre de navigation */
.navbar-dark .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-dark .nav-link {
    font-size: 1.1rem;
}

/* Header */
header {
    background: linear-gradient(to right, #8ca87c, #8ca87c);
    color: white;
    padding: 60px 20px;
    animation: fadeIn 1.5s ease-out;

}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

header .btn {
    font-size: 1.2rem;
}

/* Conteneur principal */
main.container {
    margin-top: 30px;
}

/* Sections */
h2 {
    color: #333;
    margin-bottom: 20px;
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Permet au contenu principal de prendre l'espace disponible */
}

footer {
    background-color: #343a40; /* Couleur de fond du footer */
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
